In [1]:
import nltk
import random
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/sid21g/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
def shuffle(word):
    letters_list = list(word)
    random.shuffle(letters_list)
    return ''.join(letters_list)

def shuffle_except_first_last(word):
    letters_list = list(word)[1:-1]
    random.shuffle(letters_list)
    return word[0] + ''.join(letters_list) + word[-1]

In [3]:
from nltk.corpus import wordnet

In [92]:
word1 = ["tea", "bread", "doctor", "truck", "lava" , "cloth", "fruit", "engine", "office", "guitar", "insect", "blood", "photo", "shirt", "tongue", "chocolate", "hotel", "virus", "phone", "tennis"]
word2 = ["coffee", "butter", "nurse", "vehicle", "magma", "apparel", "orange", "train", "chair", "violin", "termite", "platelet", "camera", "trouser", "muscle", "biscuit", "lobby", "bacteria", "radio", "soccer"]
word3 = ["bicycle", "laptop", "shampoo", "paper", "biscuit", "charger", "airplane", "skeleton", "jelly", "lemon", "lunch", "skirt", "burger", "flower", "pencil", "diary", "onion", "bottle", "light", "mouse"]
wup_1_2 = []
wup_1_3 = []
word2_shuffle_list = []
word2_shuffle_except_first_last_list = []

for i in (word1, word2, word3):
     print(len(i))

20
20
20

In [99]:
for i in word3:
    print(i)

bicycle
laptop
shampoo
paper
biscuit
charger
airplane
skeleton
jelly
lemon
lunch
skirt
burger
flower
pencil
diary
onion
bottle
light
mouse

In [93]:

for i in range(0, len(word1)):
    #print(word2[i])
    syn1 = wordnet.synsets(word1[i])[0]
    syn2 = wordnet.synsets(word2[i])[0]
    syn3 = wordnet.synsets(word3[i])[0]
    wup_1_2_value = syn1.wup_similarity(syn2)
    wup_1_3_value = syn1.wup_similarity(syn3)
    wup_1_2.append(round(wup_1_2_value, 2))
    wup_1_3.append(round(wup_1_3_value, 2))

for i in range(len(wup_1_2)):
    print(wup_1_2[i], word1[i])

print("")

for i in range(len(wup_1_3)):
    print(wup_1_3[i], word3[i])

0.89 tea
0.75 bread
0.87 doctor
0.8 truck
0.78 lava
0.71 cloth
0.86 fruit
0.63 engine
0.53 office
0.86 guitar
0.95 insect
0.53 blood
0.59 photo
0.9 shirt
0.8 tongue
0.59 chocolate
0.71 hotel
0.88 virus
0.63 phone
0.75 tennis

0.25 bicycle
0.2 laptop
0.21 shampoo
0.24 paper
0.33 biscuit
0.33 charger
0.38 airplane
0.12 skeleton
0.24 jelly
0.36 lemon
0.22 lunch
0.27 skirt
0.42 burger
0.4 flower
0.25 pencil
0.27 diary
0.44 onion
0.47 bottle
0.2 light
0.09 mouse

In [94]:
for i in range(0, len(word2)):
    word2_shuffle = shuffle(word2[i])
    word2_shuffle_except_first_last = shuffle_except_first_last(word2[i])
    word2_shuffle_list.append(word2_shuffle)
    word2_shuffle_except_first_last_list.append(word2_shuffle_except_first_last)

In [95]:
print(word2_shuffle_list)
print(word2_shuffle_except_first_last_list)

['eceoff', 'utrtbe', 'eusrn', 'ilevehc', 'mgama', 'paeaplr', 'rneaog', 'tnria', 'iahcr', 'iovlni', 'ttemier', 'ttllpeae', 'raacem', 'ueortrs', 'selmuc', 'ibcstui', 'bbloy', 'riatcaeb', 'adior', 'rsocce']
['coffee', 'buettr', 'nruse', 'vclhiee', 'mgmaa', 'aeprpal', 'ongrae', 'tairn', 'caihr', 'voilin', 'tmierte', 'ptaelelt', 'cmarea', 'tersuor', 'muslce', 'bcsiiut', 'lbboy', 'bieracta', 'radio', 'soccer']

In [96]:
hey = "hello"
hey[1:-1]

'ell'

In [101]:
import pandas as pd
import json

In [102]:
data = pd.read_csv("word_dataset_80.csv", sep='\t')
data

       word_1   word_2  condition  WUP_score  correct_incorrect
0         tea   coffee          1       0.89                  1
1       bread   butter          1       0.75                  1
2      doctor    nurse          1       0.87                  1
3       truck  vehicle          1       0.80                  1
4        lava    magma          1       0.78                  1
..        ...      ...        ...        ...                ...
75  chocolate    diary          4       0.27                  1
76      hotel    onion          4       0.44                  1
77      virus   bottle          4       0.47                  1
78      phone    light          4       0.20                  1
79     tennis    mouse          4       0.09                  1

[80 rows x 5 columns]

In [20]:
out = data.to_json(orient='records')
out

'[{"word_1":"tea","word_2":"coffee","condition":1,"WUP_score":0.89,"correct_incorrect":1},{"word_1":"bread","word_2":"butter","condition":1,"WUP_score":0.75,"correct_incorrect":1},{"word_1":"doctor","word_2":"nurse","condition":1,"WUP_score":0.87,"correct_incorrect":1},{"word_1":"truck","word_2":"vehicle","condition":1,"WUP_score":0.8,"correct_incorrect":1},{"word_1":"lava ","word_2":"magma","condition":1,"WUP_score":0.78,"correct_incorrect":1},{"word_1":"cloth","word_2":"apparel","condition":1,"WUP_score":0.71,"correct_incorrect":1},{"word_1":"fruit","word_2":"orange","condition":1,"WUP_score":0.86,"correct_incorrect":1},{"word_1":"tea","word_2":"ceffoe","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"bread","word_2":"bettur","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"doctor","word_2":"nusre","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"truck","word_2":"vehclie","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"lava ","word_2":"mamga","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"cloth","word_2":"apaeprl","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"fruit","word_2":"ornage","condition":2,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"tea","word_2":"oecfef","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"bread","word_2":"uretbt","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"doctor","word_2":"esunr","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"truck","word_2":"cvehlie","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"lava ","word_2":"gmama","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"cloth","word_2":"elparpa","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"fruit","word_2":"goanre","condition":3,"WUP_score":0.0,"correct_incorrect":0},{"word_1":"tea","word_2":"bicycle","condition":4,"WUP_score":0.25,"correct_incorrect":1},{"word_1":"bread","word_2":"laptop","condition":4,"WUP_score":0.2,"correct_incorrect":1},{"word_1":"doctor","word_2":"shampoo","condition":4,"WUP_score":0.21,"correct_incorrect":1},{"word_1":"truck","word_2":"paper","condition":4,"WUP_score":0.24,"correct_incorrect":1},{"word_1":"lava ","word_2":"biscuit","condition":4,"WUP_score":0.33,"correct_incorrect":1},{"word_1":"cloth","word_2":"charger","condition":4,"WUP_score":0.33,"correct_incorrect":1},{"word_1":"fruit","word_2":"airplane","condition":4,"WUP_score":0.38,"correct_incorrect":1}]'