In [1]:
import pandas as pd
data = pd.read_csv("Siddharth_Gupta_22.csv")
data.head()

,word_1,word_2,WUP_score,correct_incorrect,key_pressed,response_status,reaction_time,age_list
0,cloth,apaeprl,0.00,0,y,0,848.993063,22
1,doctor,nusre,0.00,0,y,0,614.985943,22
2,tea,oecfef,0.00,0,y,0,544.198990,22
3,cloth,apparel,0.71,1,y,1,871.513128,22
4,bread,uretbt,0.00,0,n,1,1152.809143,22

In [3]:
import pandas as pd
data = pd.read_csv("mahabalesh_javali_23.csv")
data.head(100)

,word_1,word_2,condition,WUP_score,correct_incorrect,key_pressed,response_status,reaction_time,age_list
0,phone,light,4,0.20,1,y,1,1321.022034,23
1,office,jelly,4,0.24,1,y,1,1159.772158,23
2,blood,ptaelelt,2,0.00,0,n,1,907.914162,23
3,office,chair,1,0.53,1,y,1,1309.224129,23
4,photo,camera,1,0.59,1,y,1,915.474892,23
...,...,...,...,...,...,...,...,...,...
75,photo,cmarea,2,0.00,0,n,1,811.719894,23
76,virus,riatcaeb,3,0.00,0,n,1,1052.094221,23
77,guitar,voilin,2,0.00,0,y,0,738.036871,23
78,doctor,nruse,2,0.00,0,n,1,1183.229923,23
79,shirt,flower,4,0.40,1,y,1,825.449944,23