In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
dataset = pd.read_csv("test.csv")#, index=False)
dataset.head()
# len(dataset)

,word_1,word_2,condition,WUP_score,correct_incorrect,key_pressed,response_status,reaction_time,age_list
0,bread,utrtbe,3,0.00,0,n,1,1389.216185,18
1,bread,laptop,4,0.20,1,y,1,1108.018875,18
2,engine,tairn,2,0.00,0,n,1,1035.490990,18
3,doctor,shampoo,4,0.21,1,y,1,937.063217,18
4,engine,train,1,0.63,1,y,1,1017.201900,18

In [19]:
# Removing magma
# dataset = dataset[dataset.word_1 != 'lava']
# len(dataset)

1216

In [11]:
dataset.head()

,Unnamed: 0,word_1,word_2,condition,WUP_score,correct_incorrect,key_pressed,response_status,reaction_time,age_list
0,0,bread,utrtbe,3,0.00,0,n,1,1389.216185,18
1,1,bread,laptop,4,0.20,1,y,1,1108.018875,18
2,2,engine,tairn,2,0.00,0,n,1,1035.490990,18
3,3,doctor,shampoo,4,0.21,1,y,1,937.063217,18
4,4,engine,train,1,0.63,1,y,1,1017.201900,18

In [15]:
dataset.to_csv("test.csv", index=False)

## Data Exploration

### About participants

In [8]:
# Average age of participants
groupby_age = dataset.groupby(by=['age_list'])
#groupby_age
print(groupby_age.size()/80)

age_list
18    3.0
19    4.0
20    3.0
21    1.0
22    2.0
23    1.0
24    1.0
25    1.0
dtype: float64