In [3]:
import pandas as pd
import glob

# 1. Find all csv files directly using a pattern
files = glob.glob("../participants_data/*.csv")
files.sort()

In [4]:
files

['../participants_data/01abhinav_arya_18.csv',
 '../participants_data/02Aditya_Kara_22.csv',
 '../participants_data/03Ayushman_kumar_19.csv',
 '../participants_data/04Gaurav_Dash_25.csv',
 '../participants_data/05Harshit_Bhalla_20.csv',
 '../participants_data/06Hriday_Goel_19.csv',
 '../participants_data/07Kashish_ Kumawat_18.csv',
 '../participants_data/08kritika_grewal_20.csv',
 '../participants_data/09Lokesh_Meena_21.csv',
 '../participants_data/10mahabalesh_javali_23.csv',
 '../participants_data/11Nivedita_Toppo_20.csv',
 '../participants_data/12Shailja_Tiwari_22.csv',
 '../participants_data/13Subhajyoti_Bid_24.csv',
 '../participants_data/14Sunpreet_Singh_19.csv',
 '../participants_data/15Tanisi_Mishra_19.csv']

In [5]:
# 2. Create an empty list for the file contents
df_list = []

In [6]:
# 3. Loop through the filenames, read and convert to df
for f in files:
    temp_df = pd.read_csv(f)
    df_list.append(temp_df)
    
df_list[:2]

[    word_1   word_2  condition  WUP_score  correct_incorrect key_pressed  \
 0    bread   utrtbe          3       0.00                  0           n
 1    bread   laptop          4       0.20                  1           y
 2   engine    tairn          2       0.00                  0           n
 3   doctor  shampoo          4       0.21                  1           y
 4   engine    train          1       0.63                  1           y
 ..     ...      ...        ...        ...                ...         ...
 71  office    chair          1       0.53                  1           y
 72  guitar   violin          1       0.86                  1           y
 73  insect  ttemier          3       0.00                  0           n
 74  insect  termite          1       0.95                  1           y
 75   hotel    lobby          1       0.71                  1           y

     response_status  reaction_time  age_list  participant_id
 0                 1    1389.216185        18               1
 1                 1    1108.018875        18               1
 2                 1    1035.490990        18               1
 3                 1     937.063217        18               1
 4                 1    1017.201900        18               1
 ..              ...            ...       ...             ...
 71                1    1115.194082        18               1
 72                1     828.732014        18               1
 73                1    1003.681898        18               1
 74                1    1132.627964        18               1
 75                1    1299.173117        18               1

 [76 rows x 10 columns],
     word_1   word_2  condition  WUP_score  correct_incorrect key_pressed  \
 0    truck  vclhiee          2       0.00                  0           0
 1   engine    train          1       0.63                  1           n
 2   tennis   rsocce          3       0.00                  0           n
 3   guitar   voilin          2       0.00                  0           0
 4      tea   coffee          1       0.89                  1           y
 ..     ...      ...        ...        ...                ...         ...
 71   phone    light          4       0.20                  1           0
 72   cloth  apparel          1       0.71                  1           y
 73     tea   eceoff          3       0.00                  0           n
 74   cloth  paeaplr          3       0.00                  0           n
 75  doctor    nruse          2       0.00                  0           y

     response_status  reaction_time  age_list  participant_id
 0                 2    2000.000000        22               2
 1                 0    1026.432037        22               2
 2                 1    1991.157055        22               2
 3                 2    2000.000000        22               2
 4                 1     181.740046        22               2
 ..              ...            ...       ...             ...
 71                2    2000.000000        22               2
 72                1    1413.515091        22               2
 73                1    1524.228096        22               2
 74                1    1105.563879        22               2
 75                0    1514.276981        22               2

 [76 rows x 10 columns]]

In [7]:
# 4. Stack them all together
df = pd.concat(df_list, ignore_index=True)

# 5. See the result
print(df)

      word_1    word_2  condition  WUP_score  correct_incorrect key_pressed  \
0      bread    utrtbe          3       0.00                  0           n
1      bread    laptop          4       0.20                  1           y
2     engine     tairn          2       0.00                  0           n
3     doctor   shampoo          4       0.21                  1           y
4     engine     train          1       0.63                  1           y
...      ...       ...        ...        ...                ...         ...
1135   virus  riatcaeb          3       0.00                  0           n
1136   virus    bottle          4       0.47                  1           y
1137  tennis    scocer          2       0.00                  0           y
1138   hotel     onion          4       0.44                  1           y
1139     tea    coffee          1       0.89                  1           y

      response_status  reaction_time  age_list  participant_id
0                   1    1389.216185        18               1
1                   1    1108.018875        18               1
2                   1    1035.490990        18               1
3                   1     937.063217        18               1
4                   1    1017.201900        18               1
...               ...            ...       ...             ...
1135                1    1149.085999        19              15
1136                1     893.582821        19              15
1137                0    1669.711113        19              15
1138                1    1049.376965        19              15
1139                1     597.213984        19              15

[1140 rows x 10 columns]

In [8]:
# Save file
df.to_csv("../combined_data/combined_data.csv", index=False)