In [2]:
import pandas as pd
import glob

In [19]:
import pandas as pd
import glob

# path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("*.csv")
#print(all_files)
li = []

for filename in all_files:
    #print(filename[:2])
    participant_field = int(filename[:2])
    print(participant_field)
    participant_field_list = [participant_field for i in range(76)]
    df = pd.read_csv(filename, index_col=None)
    df = df[df.word_1 != 'lava']
    df['participant_id'] = participant_field_list
    df.to_csv(filename, index=False)
    #print(df.head())

#frame = pd.concat(li, axis=0, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [6]:
!ls

 01abhinav_arya_18.csv	      10mahabalesh_javali_23.csv
 02Aditya_Kara_22.csv	      11Nivedita_Toppo_20.csv
 03Ayushman_kumar_19.csv      12Shailja_Tiwari_22.csv
 04Gaurav_Dash_25.csv	      13Subhajyoti_Bid_24.csv
 05Harshit_Bhalla_20.csv      14Sunpreet_Singh_19.csv
 06Hriday_Goel_19.csv	      15Tanisi_Mishra_19.csv
'07Kashish_ Kumawat_18.csv'   16Vibhor_Sengar_18.csv
 08kritika_grewal_20.csv      add_partcipant_no_col_to_csv.ipynb
 09Lokesh_Meena_21.csv

In [20]:
df_temp = pd.read_csv("16Vibhor_Sengar_18.csv")
df_temp.head()

,word_1,word_2,condition,WUP_score,correct_incorrect,key_pressed,response_status,reaction_time,age_list,participant_id
0,shirt,trouser,1,0.90,1,y,1,1102.059841,18,16
1,cloth,apparel,1,0.71,1,n,0,1288.504124,18,16
2,phone,radio,1,0.63,1,y,1,1056.970119,18,16
3,cloth,paeaplr,3,0.00,0,n,1,805.268049,18,16
4,phone,light,4,0.20,1,y,1,1005.723953,18,16